button {
margin-top: 200px;
font-size: 18px;
border: 2px solid white;
border-radius: 100px;
width: 200px;
height: 200px;
}

#rock {
	background-image:url(rock.jpg);
}

#scissors {
	background-image:url(scissors.jpg);
}

#paper {
	background-image:url(paper.jpg);
}

h3{
	color:white;
}